<!DOCTYPE html>
<html lang="en">
<head>

   </head>
<body id="top">
             <section>
          <div class="container">
               <div class="row">
			   
					<div style="background-color:rgb(0, 225, 255);text-align: center;">
                        <h1>Chronic Kidney Disease Prediction</h1><h2>Using Machine Learning </h2>
                    </div>
					<br/>
					<br/>

                    <div class="col-md-8 col-sm-7">
                        
                        
                         <div >
                              <h2>Medical Result</h2>
                              <p>Condition is normal.</p>
                              <blockquote>Chronic Kidney Disease: NEGATIVE.</blockquote>
                              <p>Kidney is Happy!!!!.</p>
			                  <!--<img src="images\result1.jpg" width="300" height="300"/>-->
                              <p></p>
                              
                         </div>
                       
                        
                        

                    </div>

                    <div class="col-md-4 col-sm-5">
                         <div class="news-sidebar">
                              
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>
         
  
</body>
</html>